* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #3674; 
    overflow: hidden; 
}

.login-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 75vh; 
    margin: auto; 
}

form  {
    align-items: center;
    padding: 20px; 
    margin: 20px; 
    border-radius: 4px;
    background: white;
    box-shadow: 0 5px 10px #fff;
}

h1 {
    font-weight: 600;
    padding: 10px;
    margin: 10px; 
    color: #3699;
}

.username-input input, .password-input input {
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; 
    border: 2px solid #3699; 
    border-radius: 40px;
    text-decoration: none;
    outline: none; 
}

.sign-in {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #3699;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    border: none; 
    background: none; 
    cursor: pointer;
    transition: 1s; 
}

.sign-in:hover {
    box-shadow: 0 5px 10px #3699;
}



